.speech{
    color: black;
    font-size: medium;
}

.song{
    color: blueviolet;
    font-size: medium;
    font-style: initial;
}

.direction{
    color: black;
    background-color: bisque;
    font-size: medium;
}
.direction:hover{
    background-color: blanchedalmond;
    color: blue;
}
.name{
    color: black;
    font-size: medium;
}
.ALL{
    font-style: italic;
    font-size: medium;
    color: blue;

}
.FRE{
    font-size: medium;
    font-style: italic;
    color: blue;
}
.KIN{
    font-size: medium;
    font-style: italic;
    color: blue;
}
.SAM{
    font-size: medium;
    font-style: italic;
    color: blue;
}
.RUT{
    font-size: medium;
    font-style: italic;
    color: blue;
}
table, th, td{
    border: 1.4px solid green;
    border-collapse: collapse;
    text-align: center;
    color: blueviolet;

}
tr:nth-child(even){
    background-color:aquamarine;
    margin-left: auto;
}
.FRE:hover{
    background-color: bisque;
    filter: blur(2px);
    border: solid 2px;
}
.SAM:hover{
    background-color:chocolate;
    filter: blur(2px);
    border: solid 2px;
}
.RUT:hover{
    background-color:brown;
    filter: blur(2px);
    border: solid 2px;
}

.KIN:hover{
    background-color: darkgreen;
    filter: blur(2px);
    border: solid 2px;
}